<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- Favicon for iPad 3rd/4th Generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.github.url }}/favicon-144x144.png" />
<!-- Favicon for iPhone 4/4S/5 & iPod Touch 2012 -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.github.url }}/favicon-57x57@2x.png" />
<!-- Favicon for iPad, iPad 2 & iPad Mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.github.url }}/favicon-72x72.png" />
<!-- Favicon for iPhone 3GS, iPod Touch 2011, & older Android devices -->
<link rel="apple-touch-icon-precomposed" href="{{ site.github.url }}/favicon-57x57.png" />
<!-- Favicon for Browsers 32x32 -->
<link rel="icon shortcut" href="{{ site.github.url }}/favicon-32x32.png" />
<!-- Favicon for Legacy Browsers 16x16 -->
<link rel="icon shortcut" href="{{ site.github.url }}/favicon.ico" />

<!-- Apple Startup Images -->
<!-- iPhone 3GS, 2011 iPod Touch -->
<link rel="apple-touch-startup-image" sizes="320x460" href="{{ site.github.url }}/startup/320x460.png" media="screen and (max-device-width : 320px)" />
<!-- iPhone 4, 4S and 2011 iPod Touch -->
<link rel="apple-touch-startup-image" sizes="640x920" href="{{ site.github.url }}/startup/640x920.png" media="(max-device-width : 480px) and (-webkit-min-device-pixel-ratio : 2)" />
<!-- iPhone 5 and 2012 iPod Touch -->
<link rel="apple-touch-startup-image" sizes="640x1096" href="m{{ site.github.url }}/startup/640x1096.png" media="(max-device-width : 548px) and (-webkit-min-device-pixel-ratio : 2)" />
<!-- iPad landscape -->
<link rel="apple-touch-startup-image" sizes="1024x748" href="{{ site.github.url }}/startup/1024x748.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
<!-- iPad Portrait -->
<link rel="apple-touch-startup-image" sizes="768x1024" href="{{ site.github.url }}/startup/768x1024.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />

<!-- Apple iOS Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.github.url }}/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.github.url }}/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.github.url }}/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.github.url }}/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.github.url }}/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.github.url }}/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.github.url }}/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url }}/apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.github.url }}/apple-touch-icon-180x180.png" />

<!-- Various Favicons -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.github.url }}/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="194x194" href="{{ site.github.url }}/favicon-194x194.png" />
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.github.url }}/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="192x192" href="{{ site.github.url }}/favicon-192x192.png" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.github.url }}/favicon-16x16.png" />

<link rel="manifest" href="{{ site.github.url }}/manifest.json" />
<link rel="mask-icon" href="{{ site.github.url }}/safari-pinned-tab.svg" color="{{ site.theme_color }}" />

