<!-- Facebook og tags -->
<meta property="og:site_name" content="{{ site.github.owner_name }}'s {{ site.github.project_title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.github.url }}" />
<meta property="og:title" content="@{{ site.github.owner_name }}'s {{ site.github.project_title }}" />
<meta property="og:description" content="{{ site.github.project_tagline }}">
<meta property="og:image" content="{{ site.github.url}}/media/favicons/512x512.png" />

<!-- Twitter card -->
<meta name="twitter:card" content="website">
<meta name="twitter:site" content="@chrisOHpedia">
<meta name="twitter:creator" content="chrisOHpedia">
<meta name="twitter:title" content="{{ site.github.owner_name }}'s {{ site.github.project_title }}">
<meta name="twitter:description" content="{{ site.github.project_tagline }}">
<meta name="twitter:image:src" content="{{ site.github.url }}/media/favicons/512x512.png">
<meta name="twitter:data2" content="Orange County, CA">
<meta name="twitter:label2" content="Location">
<meta name="twitter:domain" content="{{ site.github.url }}">

<!-- Pinterest -->
<meta name="p:domain_verify" content="{{ site.github.url }}" />

<!-- Google Direct Connect -->
<link rel="author" href="https://plus.google.com/+ChrisNewtonChrisopedia/" />
