<!DOCTYPE html>
<html id="{{ site.github.owner_name }}-{{ site.github.project_title }}" class="h-product" lang="en" itemscope itemtype="http://schema.org/Code" prefix="og: http://ogp.me/ns#">
	<head>
		<!-- Meta, title, CSS, favicons, etc. -->
		{% include meta.html %}
	</head>
	<body>
		<a class="sr-only sr-only-focusable" href="#main"><span class="skiplink-text">Skip to main content</span></a>
		<main id="main" role="main" tabindex="-1">
			{{ content }}
		</main>
		{% include footer.html %}
	</body>
</html>
